.repo-item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8ff;
  border-radius: 15px;
  width: 300px;
}
.avatar-img {
  width: 100px;
  margin-bottom: 1rem;
}
.repo-name {
  text-align: center;
  color: #e73959;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.repo-stats-container {
  align-self: stretch;
  padding-left: 1rem;
  text-align: left;
}
.stats-text {
  color: #1e293b;
  font-size: 1rem;
  margin-bottom: .5rem;
}
.stats-icons {
  width: 15px;
  margin-right: .5rem;
  align-items: center;
}
